gym-ui/Gym-Manager/node_modules/*
gym-ui/Gym-Manager/.vscode/*
gym-backend/.metadata/*
gym-backend/.recommenders/*
gym-backend/.sonarlint/*
gym-backend/Servers/*
gym-backend/Gym-Manager/.settings/*
gym-backend/Gym-Manager/.project

gym-backend/Gym-Manager/application/target/*
gym-backend/Gym-Manager/application/.project
gym-backend/Gym-Manager/application/.classpath

gym-backend/Gym-Manager/common/target/*
gym-backend/Gym-Manager/common/.project
gym-backend/Gym-Manager/common/.classpath

gym-backend/Gym-Manager/controller/target/*
gym-backend/Gym-Manager/controller/.project
gym-backend/Gym-Manager/controller/.classpath

gym-backend/Gym-Manager/dao/target/*
gym-backend/Gym-Manager/dao/.project
gym-backend/Gym-Manager/dao/.classpath

gym-backend/Gym-Manager/dto/target/*
gym-backend/Gym-Manager/dto/.project
gym-backend/Gym-Manager/dto/.classpath

gym-backend/Gym-Manager/service/target/*
gym-backend/Gym-Manager/service/.project
gym-backend/Gym-Manager/service/.classpath